.login_root_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login_form_root_div > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
